:root {
    --text-colour: rgb(252, 237, 242);
    --shadow-colour: rgb(80, 80, 80);
}

@font-face {
  font-family: "Excelorate";
  src: url(excelorate-font.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #F6C6DE,
    #F2B5D4,
    #fcedf2,
    #C5CCF6,
    #FED8F1
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Excelorate";
  font-size: 100px;
  text-align: center;
  color: var(--text-colour);
  text-shadow: 1px 1px 0 var(--shadow-colour), 2px 2px 0 var(--shadow-colour), 3px 3px 0 var(--shadow-colour), 4px 4px 0 var(--shadow-colour),
    5px 5px 0 var(--shadow-colour), 6px 6px 0 var(--shadow-colour), 7px 7px 0 var(--shadow-colour), 8px 8px 0 var(--shadow-colour), 9px 9px 0 var(--shadow-colour),
    10px 10px 0 var(--shadow-colour);
}

.main-container {
  position: fixed;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;

  background-color: rgba(20, 20, 20, 0.95);
  border-radius: 16px;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 255, 255, 0.5),
    inset 0 0 20px rgba(255, 255, 255, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
